a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #1E1E1E; }

ul {
  list-style-type: none;
  margin: 0; }

.section-header {
  text-align: center;
  margin-bottom: 1em; }

.section-paragraph {
  font-size: 0.8em;
  color: #787878;
  text-align: center;
  margin-bottom: 1.5em; }

#backToTop {
  position: fixed;
  right: 5%;
  bottom: 5%;
  box-sizing: content-box;
  background-color: #FFF;
  color: #1E1E1E;
  width: 1.875em;
  height: 1.875em;
  padding: .3em;
  border: 1px solid black;
  border-radius: 50%;
  transition: all .3s linear;
  z-index: 3; }
  #backToTop:hover {
    color: #FFF;
    border-color: #1DBDB8;
    background-color: #1DBDB8; }

.breadcrumb-section {
  margin-bottom: 1em; }
  .breadcrumb-section li {
    display: inline-block;
    font-size: .8em;
    color: #787878; }
    .breadcrumb-section li:not(:last-child)::after {
      content: ">"; }
    .breadcrumb-section li a {
      color: #787878; }

.price {
  color: #787878;
  font-size: .8em;
  padding-bottom: .8em; }
  .price .old-price {
    text-decoration: line-through; }
  .price .new-price {
    color: #E95144; }

.colors {
  display: flex;
  padding: .8em 0; }
  .colors .color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 1px solid #777;
    border-radius: 50%;
    margin-right: .4em; }
    .colors .color-container .color {
      display: inline-block;
      width: 19px;
      height: 19px;
      padding: .1em;
      border: 1px solid #fff;
      border-radius: 50%; }
    .colors .color-container .dark {
      background-color: #808080; }
    .colors .color-container .red {
      background-color: #F08080; }
    .colors .color-container .beige {
      background-color: #F5F5DC; }
    .colors .color-container .white {
      background-color: #fff; }
    .colors .color-container .green {
      background-color: #8FBC8F; }

.setting {
  border-bottom: 1px solid #c5c5cf;
  padding: 2em 0; }

.setting-header {
  font-size: 1.2em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

html {
  scroll-behavior: smooth; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.arrival-container {
  max-width: 1140px;
  margin: 0 auto; }

#header {
  box-shadow: 0 1px 5px 1px #ddd; }
  #header .language-currency {
    padding: 1em;
    text-align: right;
    font-size: 0.7em; }
    #header .language-currency .refund {
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 2em; }
    #header .language-currency .dropdown .divider {
      color: #E3E4E7;
      padding: 0 .2em; }
    #header .language-currency .dropdown .dropdown-menu {
      position: relative;
      transform: translate3d(-10em, 1.4em, 0px);
      border: 1px solid #787878;
      border-radius: 0;
      padding: 0;
      margin-top: 1em; }
      #header .language-currency .dropdown .dropdown-menu::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 50px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #787878 transparent; }
      #header .language-currency .dropdown .dropdown-menu .sub-header {
        background-color: #FAFAFA;
        padding: 1em; }
      #header .language-currency .dropdown .dropdown-menu .dropdown-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: .6em 0; }
        #header .language-currency .dropdown .dropdown-menu .dropdown-container .dropdown-item {
          padding: 0 2em .6em 1em; }
          #header .language-currency .dropdown .dropdown-menu .dropdown-container .dropdown-item:hover {
            background-color: transparent; }
  #header .logo-navbar {
    padding: .8em 0; }
    #header .logo-navbar .navbar-container .main-nav-container {
      display: flex; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container {
        width: 12em;
        height: 100%; }
        #header .logo-navbar .navbar-container .main-nav-container .logo-container img {
          width: 100%;
          height: 100%; }
      #header .logo-navbar .navbar-container .main-nav-container .hamburger {
        background-color: transparent;
        border: 0;
        display: none; }
      #header .logo-navbar .navbar-container .main-nav-container .main-nav {
        display: flex;
        align-items: center; }
        #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item {
          position: relative; }
          #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item .main-nav-link {
            font-size: 0.8em;
            color: #1E1E1E;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 1.8em; }
    #header .logo-navbar .navbar-container .right-menu-container .icon-container {
      display: flex;
      justify-content: flex-end;
      padding: 1em 0;
      align-items: center; }
      #header .logo-navbar .navbar-container .right-menu-container .icon-container li {
        margin-left: 2.5em; }
        #header .logo-navbar .navbar-container .right-menu-container .icon-container li i {
          font-size: 1.5em; }
        #header .logo-navbar .navbar-container .right-menu-container .icon-container li:last-child {
          position: relative; }
          #header .logo-navbar .navbar-container .right-menu-container .icon-container li:last-child::after {
            content: "0";
            position: absolute;
            bottom: 15px;
            right: -10px;
            width: 1.5em;
            height: 1.5em;
            background-color: #E95144;
            color: #FFF;
            border-radius: 50%;
            text-align: center; }

#main #showcase #showcaseCarousel .carousel-inner .slider-caption {
  display: inline-block;
  border-bottom: 1px solid #696D6C;
  padding-bottom: 5px; }
#main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first {
  margin-bottom: 10em;
  text-align: left; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link:hover {
      color: #000;
      background-color: #fff; }
#main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second {
  margin-bottom: 10em;
  text-align: center; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link:hover {
      color: #000;
      background-color: #fff;
      border-color: #fff; }
#main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third {
  margin-bottom: 10em;
  text-align: right; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link:hover {
      color: #000;
      background-color: #fff;
      border-color: #fff; }
#main #arrivals {
  padding: 5em 0; }
  #main #arrivals .arrival-container .owl-carousel {
    position: relative; }
    #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-prev,
    #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      color: #FFF;
      transition: all .3s linear; }
      #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-prev:hover,
      #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-next:hover {
        background-color: transparent;
        color: #1DBDB8; }
    #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-next {
      left: auto;
      right: 0; }
    #main #arrivals .arrival-container .owl-carousel .arrival {
      width: 100%;
      height: 100%; }
      #main #arrivals .arrival-container .owl-carousel .arrival .arrival-img {
        position: relative; }
        #main #arrivals .arrival-container .owl-carousel .arrival .arrival-img::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          opacity: 0;
          transition: all .3s linear; }
      #main #arrivals .arrival-container .owl-carousel .arrival:hover .arrival-img::after {
        opacity: 1; }
      #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content {
        position: absolute;
        top: 0;
        color: #fff;
        padding: 30px 70px; }
        #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .title {
          margin-bottom: 1em; }
        #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .content {
          margin-bottom: 2.1em; }
        #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link {
          display: inline-block;
          padding: 1.2em 2.1em;
          color: #1E1E1E;
          background-color: #FFF;
          border: 1px solid #FFF;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 0.9em;
          transition: all .3s linear; }
          #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link:hover {
            display: inline-block;
            padding: 1.2em 2.1em;
            color: #FFF;
            background-color: #1DBDB8;
            border: 1px solid #1DBDB8;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9em;
            transition: all .3s linear; }
#main #popular {
  padding-bottom: 5em; }
  #main #popular .popular-container .popular-card .popular-img {
    position: relative; }
    #main #popular .popular-container .popular-card .popular-img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: all .3s linear; }
  #main #popular .popular-container .popular-card:hover .popular-img::after {
    opacity: 1; }
  #main #popular .popular-container .popular-card .popular-content {
    padding: 2.2em .5em 0 3.7em; }
    #main #popular .popular-container .popular-card .popular-content .title {
      margin-bottom: .7em; }
    #main #popular .popular-container .popular-card .popular-content .content {
      color: #787878;
      line-height: 24px;
      font-size: 0.8em;
      margin-bottom: 1.8em; }
    #main #popular .popular-container .popular-card .popular-content .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #1E1E1E;
      background-color: #FFF;
      border: 1px solid #8e8e8e;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
      #main #popular .popular-container .popular-card .popular-content .pass-link:hover {
        background-color: #1DBDB8;
        color: #FFF;
        border-color: #1DBDB8; }
#main #products {
  padding-bottom: 5em; }
  #main #products .products-container .product {
    position: relative; }
    #main #products .products-container .product .product-img {
      position: relative;
      width: 300px;
      height: 100%; }
      #main #products .products-container .product .product-img::after {
        content: "\2661";
        position: absolute;
        top: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 1.8em;
        border: 1px solid #c5c5cf;
        cursor: pointer;
        transition: all .3s linear; }
      #main #products .products-container .product .product-img::before {
        content: "\1F441";
        position: absolute;
        top: 65px;
        right: 15px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 1.5em;
        border: 1px solid #c5c5cf;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
        transition: all .3s linear; }
      #main #products .products-container .product .product-img .main-img {
        width: 100%;
        height: 100%; }
      #main #products .products-container .product .product-img .hover-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        opacity: 0;
        transition: all .3s linear; }
    #main #products .products-container .product .product-badges {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20px;
      left: 25px; }
      #main #products .products-container .product .product-badges .badge {
        color: #fff;
        padding: .2em .3em;
        border-radius: 0;
        margin-bottom: .3em;
        font-weight: normal; }
      #main #products .products-container .product .product-badges .sale-badge {
        background-color: #E95144; }
      #main #products .products-container .product .product-badges .bundle-badge {
        background-color: #0D2D4D; }
    #main #products .products-container .product .product-content {
      margin-top: 1em; }
      #main #products .products-container .product .product-content .product-header {
        color: #1E1E1E;
        font-size: 0.8em; }
    #main #products .products-container .product .layer {
      position: absolute;
      left: 3.5em;
      bottom: 9em;
      opacity: 0;
      transition: all .3s linear; }
      #main #products .products-container .product .layer .layer-btn {
        color: #fff;
        display: inline-block;
        padding: 1.2em 2.1em;
        color: #FFF;
        background-color: #1DBDB8;
        border: 1px solid #1DBDB8;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        transition: all .3s linear; }
    #main #products .products-container .product:hover .hover-img, #main #products .products-container .product:hover .layer, #main #products .products-container .product:hover .product-img::before {
      opacity: 1; }
#main #quality {
  background-color: #FAFAFA;
  max-width: 100%;
  display: flex;
  margin-bottom: 5em; }
  #main #quality .quality-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8em 15px 8em 45px;
    align-content: center;
    width: 50%; }
    #main #quality .quality-heading .section-header {
      text-align: left;
      font-size: 3em;
      color: #1DBDB8;
      font-weight: bold; }
    #main #quality .quality-heading .section-paragraph {
      text-align: left;
      margin-bottom: 3.5em; }
    #main #quality .quality-heading .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #FFF;
      background-color: #1DBDB8;
      border: 1px solid #1DBDB8;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
      #main #quality .quality-heading .pass-link:hover {
        background-color: #117b77; }
  #main #quality .thumbnail {
    position: relative;
    background-image: url("../img/video-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 70vh; }
    #main #quality .thumbnail .video {
      position: absolute;
      top: 45%;
      left: 49%; }
      #main #quality .thumbnail .video i {
        color: #fff; }
#main #gallery {
  padding-bottom: 5em; }
  #main #gallery .gallery-container .gallery-img {
    padding: 1em 0; }
    #main #gallery .gallery-container .gallery-img .img {
      position: relative;
      width: 100%;
      height: 100%; }
      #main #gallery .gallery-container .gallery-img .img::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: all .3s linear; }
      #main #gallery .gallery-container .gallery-img .img img {
        width: 100%;
        height: 100%; }
      #main #gallery .gallery-container .gallery-img .img .img-layer {
        position: absolute;
        right: 5%;
        bottom: 5%;
        color: #FFF;
        z-index: 1;
        opacity: 0;
        transition: all .3s linear; }
    #main #gallery .gallery-container .gallery-img:hover .img::after, #main #gallery .gallery-container .gallery-img:hover .img-layer {
      opacity: 1; }
  #main #gallery .all-images {
    text-align: center;
    margin-top: 2em; }
    #main #gallery .all-images .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #1E1E1E;
      background-color: transparent;
      border: 1px solid #1E1E1E;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
      #main #gallery .all-images .pass-link:hover {
        display: inline-block;
        padding: 1.2em 2.1em;
        color: #FFF;
        background-color: #1DBDB8;
        border: 1px solid #1DBDB8;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        transition: all .3s linear; }
#main #posts {
  padding-bottom: 5em; }
  #main #posts .posts-container .post-card .post-img {
    position: relative; }
    #main #posts .posts-container .post-card .post-img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: all .3s linear; }
  #main #posts .posts-container .post-card:hover .post-img::after {
    opacity: 1; }
  #main #posts .posts-container .post-card .post-content {
    padding: 2.5em 1em 0 3.75em; }
    #main #posts .posts-container .post-card .post-content small {
      display: inline-block;
      color: #787878;
      margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content .title {
      margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content .content {
      color: #787878;
      margin-bottom: 1.8em; }
    #main #posts .posts-container .post-card .post-content .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #1E1E1E;
      background-color: transparent;
      border: 1px solid #1E1E1E;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
      #main #posts .posts-container .post-card .post-content .pass-link:hover {
        display: inline-block;
        padding: 1.2em 2.1em;
        color: #FFF;
        background-color: #1DBDB8;
        border: 1px solid #1DBDB8;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        transition: all .3s linear; }
#main #subscribe {
  background-image: url("../img/newsletter_bg.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding: 10em 0 15em 0; }
  #main #subscribe .section-heading {
    color: #FFF; }
    #main #subscribe .section-heading .section-header {
      font-size: 3em; }
  #main #subscribe .subscription-form #email {
    padding: .95em 0;
    background-color: transparent;
    border: 0;
    color: #FFF;
    width: 65%;
    margin-right: .7em;
    border-bottom: 2px solid #FFF; }
    #main #subscribe .subscription-form #email:focus {
      outline-width: 0; }
  #main #subscribe .subscription-form .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #main #subscribe .subscription-form .pass-link:hover {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #FFF;
      background-color: #117b77;
      border: 1px solid #117b77;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
#main #services {
  padding: 2em 0; }
  #main #services .service {
    display: flex; }
    #main #services .service .service-content {
      margin-left: 1em; }
      #main #services .service .service-content .description {
        color: #787878;
        text-decoration: underline; }

#contact-main .contact {
  padding: 2em 0; }
  #contact-main .contact .contact-section .contact-header {
    padding-bottom: 4em; }
  #contact-main .contact .contact-section .contact-content .contact-form small {
    display: inline-block;
    color: #787878;
    padding-bottom: 2em; }
  #contact-main .contact .contact-section .contact-content .contact-form .form label, #contact-main .contact .contact-section .contact-content .contact-form .form input:not(:last-child), #contact-main .contact .contact-section .contact-content .contact-form .form textarea {
    display: block;
    width: 100%; }
  #contact-main .contact .contact-section .contact-content .contact-form .form label {
    color: #1E1E1E;
    font-size: .8em; }
  #contact-main .contact .contact-section .contact-content .contact-form .form input, #contact-main .contact .contact-section .contact-content .contact-form .form textarea {
    border: 1px solid #787878;
    margin-bottom: 1.5em;
    padding: .8em;
    color: #787878;
    font-size: .8em; }
    #contact-main .contact .contact-section .contact-content .contact-form .form input:focus, #contact-main .contact .contact-section .contact-content .contact-form .form textarea:focus {
      outline-width: 0; }
  #contact-main .contact .contact-section .contact-content .contact-form .form .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #contact-main .contact .contact-section .contact-content .contact-form .form .pass-link:hover {
      background-color: #117b77; }
  #contact-main .contact .contact-section .contact-content .get-in-touch .loginTitle {
    font-size: 1.1em; }
  #contact-main .contact .contact-section .contact-content .get-in-touch .loginText {
    font-size: .8em;
    color: #787878;
    margin-bottom: 2.5em; }
  #contact-main .contact .contact-section .contact-content .get-in-touch .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #1E1E1E;
    background-color: transparent;
    border: 1px solid #1E1E1E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear;
    margin-bottom: 2.5em; }
  #contact-main .contact .contact-section .contact-content .get-in-touch .contact-info {
    color: #787878;
    font-size: .7em; }
    #contact-main .contact .contact-section .contact-content .get-in-touch .contact-info .contact-info-item {
      margin-bottom: 2em; }

#login-main .login {
  padding: 3em 0; }
  #login-main .login .login-section .login-header {
    margin-bottom: 5em; }
  #login-main .login .login-section .login-content .login-form-container .loginHeading {
    font-size: 1.1em;
    margin-bottom: 1.5em; }
  #login-main .login .login-section .login-content .login-form-container small {
    display: inline-block;
    color: #787878;
    margin-bottom: 2em; }
  #login-main .login .login-section .login-content .login-form-container .login-form label, #login-main .login .login-section .login-content .login-form-container .login-form input {
    display: block; }
  #login-main .login .login-section .login-content .login-form-container .login-form label {
    font-size: .8em; }
  #login-main .login .login-section .login-content .login-form-container .login-form input:not(:last-child) {
    padding: .8em;
    border: 0;
    border: 1px solid #c5c5cf;
    width: 100%;
    margin-bottom: 1em; }
    #login-main .login .login-section .login-content .login-form-container .login-form input:not(:last-child):focus {
      outline-width: 0; }
  #login-main .login .login-section .login-content .login-form-container .login-form .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear;
    margin-bottom: 1.4em; }
    #login-main .login .login-section .login-content .login-form-container .login-form .pass-link:hover {
      background-color: #117b77; }
  #login-main .login .login-section .login-content .login-form-container .forgot {
    color: #787878;
    font-size: .8em; }
  #login-main .login .login-section .login-content .signup-form-wrapper {
    background-color: #FAFAFA;
    padding: 2em; }
    #login-main .login .login-section .login-content .signup-form-wrapper .signupHeading {
      font-size: 1.1em;
      margin-bottom: 1.5em; }
    #login-main .login .login-section .login-content .signup-form-wrapper small {
      color: #787878;
      margin-bottom: 2em; }
    #login-main .login .login-section .login-content .signup-form-wrapper #signup-form label, #login-main .login .login-section .login-content .signup-form-wrapper #signup-form input:not(:last-child) {
      display: block; }
    #login-main .login .login-section .login-content .signup-form-wrapper #signup-form label {
      font-size: .8em; }
    #login-main .login .login-section .login-content .signup-form-wrapper #signup-form input:not(:last-child) {
      padding: .8em;
      border: 1px solid #c5c5cf;
      width: 100%;
      margin-bottom: 1.5em; }
    #login-main .login .login-section .login-content .signup-form-wrapper #signup-form .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #FFF;
      background-color: #1DBDB8;
      border: 1px solid #1DBDB8;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear;
      margin-top: 2em; }
      #login-main .login .login-section .login-content .signup-form-wrapper #signup-form .pass-link:hover {
        background-color: #117b77; }

#faq-main {
  padding: 3em 0 7em 0; }
  #faq-main .faq-container .faq-header .content {
    font-size: .8em;
    color: #787878;
    margin-top: 1.4em; }
  #faq-main .faq-container .faq-content .help {
    position: sticky;
    top: 1%;
    background-color: #FAFAFA;
    padding: 1.6em 1.8em 2em; }
    #faq-main .faq-container .faq-content .help .help-title {
      text-align: center;
      border-bottom: 2px solid #1E1E1E;
      padding-bottom: .6em;
      margin-bottom: 1.5em;
      font-size: 1.1em; }
    #faq-main .faq-container .faq-content .help .help-content {
      display: flex;
      justify-content: space-around;
      text-align: center; }
      #faq-main .faq-container .faq-content .help .help-content .contact-us {
        display: flex;
        flex-direction: column; }
        #faq-main .faq-container .faq-content .help .help-content .contact-us i {
          font-size: 1.7em; }
        #faq-main .faq-container .faq-content .help .help-content .contact-us a {
          font-size: .7em;
          text-decoration: underline; }
  #faq-main .faq-container .faq-content .pre-sales {
    padding: 1.5em 0; }
  #faq-main .faq-container .faq-content .faq-title {
    border-bottom: 2px solid #1E1E1E;
    padding-bottom: .8em; }
  #faq-main .faq-container .faq-content .accordion-question {
    border-bottom: 1px solid #909195;
    font-size: .9em; }
    #faq-main .faq-container .faq-content .accordion-question .accordion-btn {
      display: flex;
      justify-content: space-between;
      padding: 1.5em 0; }
      #faq-main .faq-container .faq-content .accordion-question .accordion-btn .plus-icon {
        position: relative;
        display: inline-block;
        width: 1px;
        height: 15px;
        background-color: #787878;
        vertical-align: middle;
        margin-left: .6em;
        transition: all .2s linear; }
        #faq-main .faq-container .faq-content .accordion-question .accordion-btn .plus-icon:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #787878;
          transform: rotate(90deg); }
    #faq-main .faq-container .faq-content .accordion-question .answer {
      color: #787878;
      height: 0;
      visibility: hidden;
      opacity: 0;
      transition: all .3s ease-in-out; }

#blog-main {
  padding: 2em 0; }
  #blog-main #blogs {
    padding: 2em 0; }
    #blog-main #blogs .blog-content {
      padding: 2em 0; }
      #blog-main #blogs .blog-content .settings .search .search-input {
        position: relative; }
        #blog-main #blogs .blog-content .settings .search .search-input input {
          border: 1px solid #c5c5cf;
          padding: .6em;
          font-size: .8em;
          width: 100%; }
          #blog-main #blogs .blog-content .settings .search .search-input input:focus {
            outline-width: 0; }
        #blog-main #blogs .blog-content .settings .search .search-input .search-icon {
          position: absolute;
          background-color: transparent;
          font-size: 1.3em;
          border: 0;
          top: 3px;
          right: 4px; }
      #blog-main #blogs .blog-content .settings .categories .category a {
        font-size: .7em;
        color: #787878;
        line-height: 1.8; }
      #blog-main #blogs .blog-content .settings .recent-posts .recent-post {
        display: flex;
        padding-top: 1.6em; }
        #blog-main #blogs .blog-content .settings .recent-posts .recent-post .post-img {
          width: 95px;
          height: 75px; }
          #blog-main #blogs .blog-content .settings .recent-posts .recent-post .post-img img {
            width: 100%;
            height: 100%;
            border-radius: 10px; }
        #blog-main #blogs .blog-content .settings .recent-posts .recent-post .post-content {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: .8em; }
          #blog-main #blogs .blog-content .settings .recent-posts .recent-post .post-content a, #blog-main #blogs .blog-content .settings .recent-posts .recent-post .post-content .date {
            font-size: .7em; }
          #blog-main #blogs .blog-content .settings .recent-posts .recent-post .post-content .date {
            color: #787878;
            margin: 0; }
      #blog-main #blogs .blog-content .settings .best-sellers .best-seller {
        display: flex;
        padding-top: 1.6em; }
        #blog-main #blogs .blog-content .settings .best-sellers .best-seller .best-seller-content {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: .8em; }
          #blog-main #blogs .blog-content .settings .best-sellers .best-seller .best-seller-content a {
            font-size: .7em;
            padding-bottom: .8em; }
          #blog-main #blogs .blog-content .settings .best-sellers .best-seller .best-seller-content .details {
            color: #1DBDB8; }
      #blog-main #blogs .blog-content .settings .banner a img {
        width: 100%; }
      #blog-main #blogs .blog-content .settings .cms-block .cms-block-content p {
        font-size: .8em;
        color: #787878; }
    #blog-main #blogs .blogs-container .blog .blog-img {
      position: relative;
      width: 100%; }
      #blog-main #blogs .blogs-container .blog .blog-img .img::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: all .4s linear; }
      #blog-main #blogs .blogs-container .blog .blog-img .img img {
        width: 100%;
        height: 100%; }
      #blog-main #blogs .blogs-container .blog .blog-img:hover .img::after {
        opacity: 1; }
    #blog-main #blogs .blogs-container .blog .blog-content {
      padding: 1.8em 0; }
      #blog-main #blogs .blogs-container .blog .blog-content .meta-container {
        margin-bottom: .7em; }
        #blog-main #blogs .blogs-container .blog .blog-content .meta-container .meta-info {
          color: #a0a0a0;
          font-size: .7em; }
      #blog-main #blogs .blogs-container .blog .blog-content .blog-heading .blog-header {
        font-size: 1.5em;
        font-weight: bold;
        transition: all .3s linear; }
        #blog-main #blogs .blogs-container .blog .blog-content .blog-heading .blog-header:hover {
          color: #1DBDB8; }
      #blog-main #blogs .blogs-container .blog .blog-content .blog-paragraph {
        padding-top: 1.25em; }
        #blog-main #blogs .blogs-container .blog .blog-content .blog-paragraph .article {
          color: #787878;
          font-size: .8em; }
          #blog-main #blogs .blogs-container .blog .blog-content .blog-paragraph .article a {
            color: #1DBDB8;
            text-decoration: underline; }
    #blog-main #blogs .blogs-container .third-blog {
      display: none; }
    #blog-main #blogs .blogs-container .pagination-container .pagination .page-item {
      padding: .6em; }
      #blog-main #blogs .blogs-container .pagination-container .pagination .page-item .page-link {
        border-radius: 0;
        background-color: transparent;
        color: #1E1E1E; }
        #blog-main #blogs .blogs-container .pagination-container .pagination .page-item .page-link:hover {
          background-color: #1DBDB8;
          color: #FFF; }

#details-main {
  padding: 2em 0; }
  #details-main .details {
    padding: 3em 0; }
    #details-main .details .product-img {
      width: 100%;
      overflow: hidden; }
      #details-main .details .product-img img {
        width: 100%;
        height: 100%; }
    #details-main .details .cms-block-container {
      text-align: center;
      padding-top: 1.5em; }
      #details-main .details .cms-block-container .title {
        font-size: 1em; }
      #details-main .details .cms-block-container .text {
        font-size: .7em;
        color: #787878;
        line-height: 2; }
    #details-main .details .product-details .detail-heading .product-header {
      font-size: 1.4em; }
    #details-main .details .product-details .product-review {
      margin-bottom: 1.5em;
      font-size: .8em; }
      #details-main .details .product-details .product-review .review-stars i {
        color: #FFCB23; }
      #details-main .details .product-details .product-review .review-stars .review {
        margin-left: .5em;
        color: #787878; }
      #details-main .details .product-details .product-review .sold-products {
        margin-left: .7em;
        color: #E95144; }
    #details-main .details .product-details .product-meta {
      font-size: .8em; }
      #details-main .details .product-details .product-meta .meta label {
        color: #1E1E1E;
        width: 30%; }
      #details-main .details .product-details .product-meta .meta a, #details-main .details .product-details .product-meta .meta span {
        color: #787878; }
    #details-main .details .product-details .price-tag {
      font-size: 1.125em;
      margin-bottom: 1.125em; }
    #details-main .details .product-details .product-description {
      margin-bottom: 1.625em; }
      #details-main .details .product-details .product-description .description {
        font-size: .8em;
        color: #787878; }
    #details-main .details .product-details .selector-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.25em;
      font-size: .8em; }
      #details-main .details .product-details .selector-wrapper .size-wrapper .size span {
        color: #787878; }
      #details-main .details .product-details .selector-wrapper .size-wrapper .size-button {
        border: 1px solid #1E1E1E;
        border-radius: 6px;
        text-align: center;
        padding: .3em .875em;
        margin-top: 1.1em; }
      #details-main .details .product-details .selector-wrapper .tea-guide .guide {
        color: #787878;
        transition: all .3s linear; }
        #details-main .details .product-details .selector-wrapper .tea-guide .guide:hover {
          color: #1DBDB8; }
    #details-main .details .product-details .quantity {
      font-size: .8em;
      color: #787878; }
      #details-main .details .product-details .quantity .quantity-label {
        display: block; }
      #details-main .details .product-details .quantity #quantity-input {
        border: 1px solid #c5c5cf;
        padding: .6em; }
        #details-main .details .product-details .quantity #quantity-input:focus {
          outline-width: 0; }
    #details-main .details .product-details .buttons .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #FFF;
      background-color: #1DBDB8;
      border: 1px solid #1DBDB8;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear;
      width: 100%; }
    #details-main .details .product-details .buttons .add-cart {
      text-align: center; }
      #details-main .details .product-details .buttons .add-cart:hover {
        background-color: #117b77; }
    #details-main .details .product-details .buttons .add-wishlist {
      background-color: #FFF;
      color: #1E1E1E;
      border-color: #1E1E1E;
      text-align: center; }
      #details-main .details .product-details .buttons .add-wishlist:hover {
        color: #FFF;
        background-color: #1DBDB8;
        border-color: #1DBDB8; }
    #details-main .details .product-details .buttons .buy-now {
      background-color: #FFF;
      color: #1DBDB8;
      margin-top: 2em;
      text-align: center; }
      #details-main .details .product-details .buttons .buy-now:hover {
        color: #FFF;
        background-color: #F3BC48;
        border-color: #F3BC48; }
    #details-main .details .product-details .buttons .terms {
      display: inline-block;
      margin: .625em 0;
      text-align: left;
      color: #787878;
      font-size: .8em; }
    #details-main .details .product-details .payment-security {
      width: 100%;
      margin-top: 1.375em; }
      #details-main .details .product-details .payment-security img {
        width: 100%;
        height: 100%; }
  #details-main #services {
    padding: 3em 0; }
    #details-main #services .service {
      text-align: center; }
      #details-main #services .service .service-img {
        margin-bottom: 1.875em; }
      #details-main #services .service .service-heading {
        margin-bottom: 1.25em; }
        #details-main #services .service .service-heading .service-title {
          font-size: 1.1em; }
      #details-main #services .service .service-content {
        color: #787878;
        font-size: .8em; }
        #details-main #services .service .service-content a {
          color: #1DBDB8;
          text-decoration: underline; }
  #details-main #banner {
    background-image: url("../img/Details/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    padding: 6em 0; }
    #details-main #banner .banner-container .banner-content {
      max-width: 25%; }
      #details-main #banner .banner-container .banner-content .sub-title {
        font-size: 0.875em; }
      #details-main #banner .banner-container .banner-content .banner-title {
        font-size: 1.625em;
        margin-bottom: 1.875em; }
      #details-main #banner .banner-container .banner-content .banner-text {
        font-size: .8em;
        line-height: 2; }
  #details-main #tea-info {
    padding: 2em; }
    #details-main #tea-info .info {
      color: #787878;
      font-size: .8em;
      line-height: 2; }
  #details-main #tea-collection .tea {
    padding-top: 1em; }
    #details-main #tea-collection .tea .row {
      align-items: center; }
    #details-main #tea-collection .tea .tea-img {
      width: 100%; }
      #details-main #tea-collection .tea .tea-img .img-container {
        position: relative;
        overflow: hidden; }
        #details-main #tea-collection .tea .tea-img .img-container::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 50%;
          transform: scale(0);
          transition: all .3s linear; }
        #details-main #tea-collection .tea .tea-img .img-container img {
          width: 100%;
          height: 100%; }
        #details-main #tea-collection .tea .tea-img .img-container .play-btn {
          position: absolute;
          top: 45%;
          right: 45%;
          color: #FFF;
          z-index: 1; }
      #details-main #tea-collection .tea .tea-img:hover .img-container::after {
        transform: scale(1); }
    #details-main #tea-collection .tea .about-tea .title {
      font-size: 1.5em;
      margin-bottom: 1.375em; }
    #details-main #tea-collection .tea .about-tea .description-container .description {
      font-size: .8em;
      color: #787878;
      line-height: 2; }
    #details-main #tea-collection .tea .about-tea .description-container .specialities {
      margin-left: 1em; }
      #details-main #tea-collection .tea .about-tea .description-container .specialities .speciality {
        color: #787878;
        list-style-type: disc;
        line-height: 2em;
        font-size: .8em; }
    #details-main #tea-collection .tea .about-tea .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #1E1E1E;
      background-color: transparent;
      border: 1px solid #787878;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear;
      margin-top: 2em; }
      #details-main #tea-collection .tea .about-tea .pass-link:hover {
        color: #FFF;
        background-color: #1DBDB8;
        border-color: #1DBDB8; }
    #details-main #tea-collection .tea #teaTastersCarousel {
      background-color: #FAFAFA;
      padding: 3em 4em 6em; }
      #details-main #tea-collection .tea #teaTastersCarousel .carousel-indicators li {
        background-color: #000; }
      #details-main #tea-collection .tea #teaTastersCarousel .carousel-inner .carousel-item {
        text-align: center; }
        #details-main #tea-collection .tea #teaTastersCarousel .carousel-inner .carousel-item .taster {
          display: flex;
          justify-content: center;
          margin-bottom: 2.5em; }
          #details-main #tea-collection .tea #teaTastersCarousel .carousel-inner .carousel-item .taster .taster-info {
            margin-left: 1.25em; }
            #details-main #tea-collection .tea #teaTastersCarousel .carousel-inner .carousel-item .taster .taster-info .name {
              font-size: 1em; }
            #details-main #tea-collection .tea #teaTastersCarousel .carousel-inner .carousel-item .taster .taster-info em {
              font-size: .8em;
              color: #787878; }
        #details-main #tea-collection .tea #teaTastersCarousel .carousel-inner .carousel-item .title {
          font-size: 1.5em;
          margin-bottom: 1.375em; }
        #details-main #tea-collection .tea #teaTastersCarousel .carousel-inner .carousel-item .description {
          color: #787878;
          font-size: .8em;
          line-height: 1.8; }

#footer #footer-items {
  background-color: #F7F9F9;
  padding: 3em 0; }
  #footer #footer-items .address {
    display: flex;
    flex-direction: column;
    color: #787878;
    padding-top: 1em; }
  #footer #footer-items .contact {
    display: flex;
    flex-direction: column;
    color: #787878;
    padding-top: 1em; }
    #footer #footer-items .contact small:last-child a {
      text-decoration: underline; }
  #footer #footer-items .footer-heading {
    margin-bottom: 1.4em;
    font-size: 1em; }
  #footer #footer-items .footer-list .footer-list-item {
    line-height: 2.3;
    font-size: 0.75em; }
    #footer #footer-items .footer-list .footer-list-item .footer-list-link {
      position: relative;
      color: #787878;
      transition: all .3s linear; }
      #footer #footer-items .footer-list .footer-list-item .footer-list-link::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #787878;
        transition: all .3s linear; }
      #footer #footer-items .footer-list .footer-list-item .footer-list-link:hover {
        color: #1E1E1E; }
    #footer #footer-items .footer-list .footer-list-item:hover .footer-list-link::after {
      width: 100%; }
  #footer #footer-items .social-media-icons a i {
    padding-right: .2em; }
#footer .footer-content {
  padding: 2em 0; }
  #footer .footer-content .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #footer .footer-content .footer-container .copyright-container {
      color: #787878; }
    #footer .footer-content .footer-container .payment-methods img {
      padding-right: .4em; }

@media only screen and (max-width: 576px) {
  #header .language-currency .dropdown .dropdown-menu {
    position: relative;
    transform: translate3d(-12em, 1.4em, 0px);
    border: 1px solid #787878;
    border-radius: 0;
    padding: 0;
    margin-top: 1em; }
  #header .logo-navbar .navbar-container .main-nav-container {
    flex-direction: column;
    text-align: center; }
    #header .logo-navbar .navbar-container .main-nav-container .logo-container {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container img {
        width: 190px;
        height: 50px; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container .hamburger {
        display: block;
        margin-left: auto; }
    #header .logo-navbar .navbar-container .main-nav-container .main-nav {
      display: block;
      flex-direction: column;
      opacity: 0;
      height: 0; }
      #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item {
        padding-bottom: 1em; }
  #header .logo-navbar .navbar-container .right-menu-container .icon-container {
    justify-content: flex-start; }
    #header .logo-navbar .navbar-container .right-menu-container .icon-container li {
      margin: 0 2em 0 0; }

  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .slider-header {
      font-size: .6em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .slider-text {
      display: none; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link {
      font-size: 10px;
      padding: .7em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .slider-header {
      font-size: .6em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .slider-text {
      display: none; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link {
      font-size: 10px;
      padding: .7em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .slider-header {
      font-size: .6em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .slider-text {
      display: none; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link {
      font-size: 0.6em;
      padding: .7em 2em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .title {
    margin-bottom: .6em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .content {
    margin-bottom: 1em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link {
    padding: .5em 2em; }
  #main #popular .popular-container .popular-card {
    margin-bottom: 2em; }
    #main #popular .popular-container .popular-card .popular-content {
      padding: 2em; }
  #main #quality {
    flex-direction: column; }
    #main #quality .quality-heading {
      width: 100%; }
    #main #quality .thumbnail {
      width: 100%; }
  #main #posts .posts-container .post-card {
    margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content {
      padding: 2em; }
  #main #subscribe .subscription-form .pass-link {
    margin-top: 1em; }

  #details-main .details .product-details .buttons .add-wishlist {
    margin-top: 2em; }
  #details-main #banner .banner-container .banner-content {
    max-width: 100%; }
  #details-main #tea-collection .tea {
    padding: 1.5em 0; }
    #details-main #tea-collection .tea .tea-img {
      padding: 1.5em 0; }

  #footer #footer-items .footer-heading {
    margin-top: 1em; } }
@media only screen and (min-width: 577px) and (max-width: 991px) {
  #header .language-currency .dropdown .dropdown-menu {
    position: relative;
    transform: translate3d(-12em, 1.4em, 0px);
    border: 1px solid #787878;
    border-radius: 0;
    padding: 0;
    margin-top: 1em; }
  #header .logo-navbar .navbar-container .main-nav-container {
    flex-direction: column;
    text-align: center; }
    #header .logo-navbar .navbar-container .main-nav-container .logo-container {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container img {
        width: 190px;
        height: 50px; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container .hamburger {
        display: block;
        margin-left: auto; }
    #header .logo-navbar .navbar-container .main-nav-container .main-nav {
      display: block;
      flex-direction: column;
      opacity: 0;
      height: 0; }
      #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item {
        padding-bottom: 1em; }
  #header .logo-navbar .navbar-container .right-menu-container .icon-container {
    justify-content: flex-start; }
    #header .logo-navbar .navbar-container .right-menu-container .icon-container li {
      margin: 0 2em 0 0; }

  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link {
      font-size: 10px;
      padding: .7em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link {
      font-size: 10px;
      padding: .7em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link {
      font-size: 0.6em;
      padding: .7em 2em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .title {
    margin-bottom: .6em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .content {
    margin-bottom: 1em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link {
    padding: .5em 2em; }
  #main #popular .popular-container .popular-card {
    margin-bottom: 2em; }
    #main #popular .popular-container .popular-card .popular-content {
      padding: 2em; }
      #main #popular .popular-container .popular-card .popular-content .pass-link {
        font-size: .7em; }
  #main #quality {
    flex-direction: column; }
    #main #quality .quality-heading {
      width: 100%; }
    #main #quality .thumbnail {
      width: 100%; }
  #main #posts .posts-container .post-card {
    margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content {
      padding: 2em; }

  #details-main #banner .banner-container .banner-content {
    max-width: 50%; } }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #header .logo-navbar .navbar-container .main-nav-container {
    flex-direction: column;
    text-align: center; }
    #header .logo-navbar .navbar-container .main-nav-container .logo-container {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container img {
        width: 190px;
        height: 50px; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container .hamburger {
        display: block;
        margin-left: auto; }
    #header .logo-navbar .navbar-container .main-nav-container .main-nav {
      display: block;
      flex-direction: column;
      height: 0;
      opacity: 0; }
      #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item {
        padding-bottom: 1em; }
  #header .logo-navbar .navbar-container .right-menu-container .icon-container {
    justify-content: flex-start; }
    #header .logo-navbar .navbar-container .right-menu-container .icon-container li {
      margin: 0 2em 0 0; }

  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first {
    margin-bottom: 5em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link {
      font-size: 10px;
      padding: 1em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second {
    margin-bottom: 5em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link {
      font-size: 10px;
      padding: 1em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third {
    margin-bottom: 5em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link {
      font-size: 0.6em;
      padding: 1em 2em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .title {
    margin-bottom: .6em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .content {
    margin-bottom: 1em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link {
    padding: .5em 2em; }
  #main #popular .popular-container .popular-card {
    margin-bottom: 2em; }
    #main #popular .popular-container .popular-card .popular-content {
      padding: 2em; }
      #main #popular .popular-container .popular-card .popular-content .pass-link {
        font-size: .7em; }
  #main #quality {
    flex-direction: column; }
    #main #quality .quality-heading {
      width: 100%; }
    #main #quality .thumbnail {
      width: 100%; }
  #main #posts .posts-container .post-card {
    margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content {
      padding: 2em; }

  #details-main #banner .banner-container {
    display: flex;
    justify-content: center;
    text-align: center; }
    #details-main #banner .banner-container .banner-content {
      width: 50%; } }
