a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #1E1E1E; }

ul {
  list-style-type: none;
  margin: 0; }

.section-header {
  text-align: center;
  margin-bottom: 1em; }

.section-paragraph {
  font-size: 0.8em;
  color: #787878;
  text-align: center;
  margin-bottom: 1.5em; }

.breadcrumb-section {
  margin-bottom: 1em; }
  .breadcrumb-section li {
    display: inline-block;
    font-size: .8em;
    color: #787878; }
    .breadcrumb-section li:first-child::after {
      content: ">"; }
    .breadcrumb-section li a {
      color: #787878; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.arrival-container {
  max-width: 1140px;
  margin: 0 auto; }

#header {
  box-shadow: 0 1px 5px 1px #ddd; }
  #header .language-currency {
    padding: 1em;
    text-align: right;
    font-size: 0.7em; }
    #header .language-currency .refund {
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 2em; }
    #header .language-currency .dropdown .divider {
      color: #E3E4E7;
      padding: 0 .2em; }
    #header .language-currency .dropdown .dropdown-menu {
      position: relative;
      transform: translate3d(-10em, 1.4em, 0px);
      border: 1px solid #787878;
      border-radius: 0;
      padding: 0;
      margin-top: 1em; }
      #header .language-currency .dropdown .dropdown-menu::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 50px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #787878 transparent; }
      #header .language-currency .dropdown .dropdown-menu .sub-header {
        background-color: #FAFAFA;
        padding: 1em; }
      #header .language-currency .dropdown .dropdown-menu .dropdown-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: .6em 0; }
        #header .language-currency .dropdown .dropdown-menu .dropdown-container .dropdown-item {
          padding: 0 2em .6em 1em; }
          #header .language-currency .dropdown .dropdown-menu .dropdown-container .dropdown-item:hover {
            background-color: transparent; }
  #header .logo-navbar {
    padding: .8em 0; }
    #header .logo-navbar .navbar-container .main-nav-container {
      display: flex; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container {
        width: 12em;
        height: 100%; }
        #header .logo-navbar .navbar-container .main-nav-container .logo-container img {
          width: 100%;
          height: 100%; }
      #header .logo-navbar .navbar-container .main-nav-container .hamburger {
        background-color: transparent;
        border: 0;
        display: none; }
      #header .logo-navbar .navbar-container .main-nav-container .main-nav {
        display: flex;
        align-items: center; }
        #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item {
          position: relative; }
          #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item .main-nav-link {
            font-size: 0.8em;
            color: #1E1E1E;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 1.8em; }
    #header .logo-navbar .navbar-container .right-menu-container .icon-container {
      display: flex;
      justify-content: flex-end;
      padding: 1em 0;
      align-items: center; }
      #header .logo-navbar .navbar-container .right-menu-container .icon-container li {
        margin-left: 2.5em; }
        #header .logo-navbar .navbar-container .right-menu-container .icon-container li i {
          font-size: 1.5em; }
        #header .logo-navbar .navbar-container .right-menu-container .icon-container li:last-child {
          position: relative; }
          #header .logo-navbar .navbar-container .right-menu-container .icon-container li:last-child::after {
            content: "0";
            position: absolute;
            bottom: 15px;
            right: -10px;
            width: 1.5em;
            height: 1.5em;
            background-color: #E95144;
            color: #FFF;
            border-radius: 50%;
            text-align: center; }

#main #showcase #showcaseCarousel .carousel-inner .slider-caption {
  display: inline-block;
  border-bottom: 1px solid #696D6C;
  padding-bottom: 5px; }
#main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first {
  margin-bottom: 10em;
  text-align: left; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link:hover {
      color: #000;
      background-color: #fff; }
#main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second {
  margin-bottom: 10em;
  text-align: center; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link:hover {
      color: #000;
      background-color: #fff;
      border-color: #fff; }
#main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third {
  margin-bottom: 10em;
  text-align: right; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link:hover {
      color: #000;
      background-color: #fff;
      border-color: #fff; }
#main #arrivals {
  padding: 5em 0; }
  #main #arrivals .arrival-container .owl-carousel {
    position: relative; }
    #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-prev,
    #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      color: #FFF;
      transition: all .3s linear; }
      #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-prev:hover,
      #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-next:hover {
        background-color: transparent;
        color: #1DBDB8; }
    #main #arrivals .arrival-container .owl-carousel .owl-nav .owl-next {
      left: auto;
      right: 0; }
    #main #arrivals .arrival-container .owl-carousel .arrival {
      width: 100%;
      height: 100%; }
      #main #arrivals .arrival-container .owl-carousel .arrival .arrival-img {
        position: relative; }
        #main #arrivals .arrival-container .owl-carousel .arrival .arrival-img::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          opacity: 0;
          transition: all .3s linear; }
      #main #arrivals .arrival-container .owl-carousel .arrival:hover .arrival-img::after {
        opacity: 1; }
      #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content {
        position: absolute;
        top: 0;
        color: #fff;
        padding: 30px 70px; }
        #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .title {
          margin-bottom: 1em; }
        #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .content {
          margin-bottom: 2.1em; }
        #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link {
          display: inline-block;
          padding: 1.2em 2.1em;
          color: #1E1E1E;
          background-color: #FFF;
          border: 1px solid #FFF;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 0.9em;
          transition: all .3s linear; }
          #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link:hover {
            display: inline-block;
            padding: 1.2em 2.1em;
            color: #FFF;
            background-color: #1DBDB8;
            border: 1px solid #1DBDB8;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9em;
            transition: all .3s linear; }
#main #popular {
  padding-bottom: 5em; }
  #main #popular .popular-container .popular-card .popular-img {
    position: relative; }
    #main #popular .popular-container .popular-card .popular-img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: all .3s linear; }
  #main #popular .popular-container .popular-card:hover .popular-img::after {
    opacity: 1; }
  #main #popular .popular-container .popular-card .popular-content {
    padding: 2.2em .5em 0 3.7em; }
    #main #popular .popular-container .popular-card .popular-content .title {
      margin-bottom: .7em; }
    #main #popular .popular-container .popular-card .popular-content .content {
      color: #787878;
      line-height: 24px;
      font-size: 0.8em;
      margin-bottom: 1.8em; }
    #main #popular .popular-container .popular-card .popular-content .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #1E1E1E;
      background-color: #FFF;
      border: 1px solid #8e8e8e;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
      #main #popular .popular-container .popular-card .popular-content .pass-link:hover {
        background-color: #1DBDB8;
        color: #FFF;
        border-color: #1DBDB8; }
#main #products {
  padding-bottom: 5em; }
  #main #products .products-container .product {
    position: relative; }
    #main #products .products-container .product .product-img {
      position: relative;
      width: 300px;
      height: 100%; }
      #main #products .products-container .product .product-img .main-img {
        width: 100%;
        height: 100%; }
      #main #products .products-container .product .product-img .hover-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        opacity: 0;
        transition: all .3s linear; }
    #main #products .products-container .product .product-content {
      margin-top: 1em; }
      #main #products .products-container .product .product-content .product-header {
        color: #1E1E1E;
        font-size: 0.8em; }
      #main #products .products-container .product .product-content .price-stars {
        padding-top: 1em; }
        #main #products .products-container .product .product-content .price-stars .product-stars {
          opacity: 0;
          transition: all .3s linear; }
          #main #products .products-container .product .product-content .price-stars .product-stars i {
            color: #FFCB23; }
    #main #products .products-container .product .layer {
      position: absolute;
      left: 3.5em;
      bottom: 7em;
      opacity: 0;
      transition: all .3s linear; }
      #main #products .products-container .product .layer .layer-btn {
        color: #fff;
        display: inline-block;
        padding: 1.2em 2.1em;
        color: #FFF;
        background-color: #1DBDB8;
        border: 1px solid #1DBDB8;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        transition: all .3s linear; }
    #main #products .products-container .product:hover .hover-img, #main #products .products-container .product:hover .layer {
      opacity: 1; }
    #main #products .products-container .product:hover .product-content .price-stars .product-stars {
      opacity: 1; }
#main #quality {
  background-color: #FAFAFA;
  max-width: 100%;
  display: flex;
  margin-bottom: 5em; }
  #main #quality .quality-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8em 15px 8em 45px;
    align-content: center;
    width: 50%; }
    #main #quality .quality-heading .section-header {
      text-align: left;
      font-size: 3em;
      color: #1DBDB8;
      font-weight: bold; }
    #main #quality .quality-heading .section-paragraph {
      text-align: left;
      margin-bottom: 3.5em; }
    #main #quality .quality-heading .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #FFF;
      background-color: #1DBDB8;
      border: 1px solid #1DBDB8;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
      #main #quality .quality-heading .pass-link:hover {
        background-color: #117b77; }
  #main #quality .thumbnail {
    position: relative;
    background-image: url("../img/video-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 70vh; }
    #main #quality .thumbnail .video {
      position: absolute;
      top: 45%;
      left: 49%; }
      #main #quality .thumbnail .video i {
        color: #fff; }
#main #gallery {
  padding-bottom: 5em; }
  #main #gallery .gallery-container .gallery-img {
    padding: 1em 0; }
    #main #gallery .gallery-container .gallery-img .img {
      position: relative;
      width: 100%;
      height: 100%; }
      #main #gallery .gallery-container .gallery-img .img::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: all .3s linear; }
      #main #gallery .gallery-container .gallery-img .img img {
        width: 100%;
        height: 100%; }
      #main #gallery .gallery-container .gallery-img .img .img-layer {
        position: absolute;
        right: 5%;
        bottom: 5%;
        color: #FFF;
        z-index: 1;
        opacity: 0;
        transition: all .3s linear; }
    #main #gallery .gallery-container .gallery-img:hover .img::after, #main #gallery .gallery-container .gallery-img:hover .img-layer {
      opacity: 1; }
  #main #gallery .all-images {
    text-align: center;
    margin-top: 2em; }
    #main #gallery .all-images .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #1E1E1E;
      background-color: transparent;
      border: 1px solid #1E1E1E;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
      #main #gallery .all-images .pass-link:hover {
        display: inline-block;
        padding: 1.2em 2.1em;
        color: #FFF;
        background-color: #1DBDB8;
        border: 1px solid #1DBDB8;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        transition: all .3s linear; }
#main #posts {
  padding-bottom: 5em; }
  #main #posts .posts-container .post-card .post-img {
    position: relative; }
    #main #posts .posts-container .post-card .post-img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: all .3s linear; }
  #main #posts .posts-container .post-card:hover .post-img::after {
    opacity: 1; }
  #main #posts .posts-container .post-card .post-content {
    padding: 2.5em 1em 0 3.75em; }
    #main #posts .posts-container .post-card .post-content small {
      display: inline-block;
      color: #787878;
      margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content .title {
      margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content .content {
      color: #787878;
      margin-bottom: 1.8em; }
    #main #posts .posts-container .post-card .post-content .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #1E1E1E;
      background-color: transparent;
      border: 1px solid #1E1E1E;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
      #main #posts .posts-container .post-card .post-content .pass-link:hover {
        display: inline-block;
        padding: 1.2em 2.1em;
        color: #FFF;
        background-color: #1DBDB8;
        border: 1px solid #1DBDB8;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        transition: all .3s linear; }
#main #subscribe {
  background-image: url("../img/newsletter_bg.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding: 10em 0 15em 0; }
  #main #subscribe .section-heading {
    color: #FFF; }
    #main #subscribe .section-heading .section-header {
      font-size: 3em; }
  #main #subscribe .subscription-form #email {
    padding: .95em 0;
    background-color: transparent;
    border: 0;
    color: #FFF;
    width: 65%;
    margin-right: .7em;
    border-bottom: 2px solid #FFF; }
    #main #subscribe .subscription-form #email:focus {
      outline-width: 0; }
  #main #subscribe .subscription-form .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #main #subscribe .subscription-form .pass-link:hover {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #FFF;
      background-color: #117b77;
      border: 1px solid #117b77;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear; }
#main #services {
  padding: 2em 0; }
  #main #services .service {
    display: flex; }
    #main #services .service .service-content {
      margin-left: 1em; }
      #main #services .service .service-content .description {
        color: #787878;
        text-decoration: underline; }

#contact-main .contact {
  padding: 2em 0; }
  #contact-main .contact .contact-section .contact-header {
    padding-bottom: 4em; }
  #contact-main .contact .contact-section .contact-content .contact-form small {
    display: inline-block;
    color: #787878;
    padding-bottom: 2em; }
  #contact-main .contact .contact-section .contact-content .contact-form .form label, #contact-main .contact .contact-section .contact-content .contact-form .form input:not(:last-child), #contact-main .contact .contact-section .contact-content .contact-form .form textarea {
    display: block;
    width: 100%; }
  #contact-main .contact .contact-section .contact-content .contact-form .form label {
    color: #1E1E1E;
    font-size: .8em; }
  #contact-main .contact .contact-section .contact-content .contact-form .form input, #contact-main .contact .contact-section .contact-content .contact-form .form textarea {
    border: 1px solid #787878;
    margin-bottom: 1.5em;
    padding: .8em;
    color: #787878;
    font-size: .8em; }
    #contact-main .contact .contact-section .contact-content .contact-form .form input:focus, #contact-main .contact .contact-section .contact-content .contact-form .form textarea:focus {
      outline-width: 0; }
  #contact-main .contact .contact-section .contact-content .contact-form .form .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear; }
    #contact-main .contact .contact-section .contact-content .contact-form .form .pass-link:hover {
      background-color: #117b77; }
  #contact-main .contact .contact-section .contact-content .get-in-touch .loginTitle {
    font-size: 1.1em; }
  #contact-main .contact .contact-section .contact-content .get-in-touch .loginText {
    font-size: .8em;
    color: #787878;
    margin-bottom: 2.5em; }
  #contact-main .contact .contact-section .contact-content .get-in-touch .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #1E1E1E;
    background-color: transparent;
    border: 1px solid #1E1E1E;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear;
    margin-bottom: 2.5em; }
  #contact-main .contact .contact-section .contact-content .get-in-touch .contact-info {
    color: #787878;
    font-size: .7em; }
    #contact-main .contact .contact-section .contact-content .get-in-touch .contact-info .contact-info-item {
      margin-bottom: 2em; }

#login-main .login {
  padding: 3em 0; }
  #login-main .login .login-section .login-header {
    margin-bottom: 5em; }
  #login-main .login .login-section .login-content .login-form-container .loginHeading {
    font-size: 1.1em;
    margin-bottom: 1.5em; }
  #login-main .login .login-section .login-content .login-form-container small {
    display: inline-block;
    color: #787878;
    margin-bottom: 2em; }
  #login-main .login .login-section .login-content .login-form-container .login-form label, #login-main .login .login-section .login-content .login-form-container .login-form input {
    display: block; }
  #login-main .login .login-section .login-content .login-form-container .login-form label {
    font-size: .8em; }
  #login-main .login .login-section .login-content .login-form-container .login-form input:not(:last-child) {
    padding: .8em;
    border: 0;
    border: 1px solid #c5c5cf;
    width: 100%;
    margin-bottom: 1em; }
    #login-main .login .login-section .login-content .login-form-container .login-form input:not(:last-child):focus {
      outline-width: 0; }
  #login-main .login .login-section .login-content .login-form-container .login-form .pass-link {
    display: inline-block;
    padding: 1.2em 2.1em;
    color: #FFF;
    background-color: #1DBDB8;
    border: 1px solid #1DBDB8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: all .3s linear;
    margin-bottom: 1.4em; }
    #login-main .login .login-section .login-content .login-form-container .login-form .pass-link:hover {
      background-color: #117b77; }
  #login-main .login .login-section .login-content .login-form-container .forgot {
    color: #787878;
    font-size: .8em; }
  #login-main .login .login-section .login-content .signup-form-wrapper {
    background-color: #FAFAFA;
    padding: 2em; }
    #login-main .login .login-section .login-content .signup-form-wrapper .signupHeading {
      font-size: 1.1em;
      margin-bottom: 1.5em; }
    #login-main .login .login-section .login-content .signup-form-wrapper small {
      color: #787878;
      margin-bottom: 2em; }
    #login-main .login .login-section .login-content .signup-form-wrapper #signup-form label, #login-main .login .login-section .login-content .signup-form-wrapper #signup-form input:not(:last-child) {
      display: block; }
    #login-main .login .login-section .login-content .signup-form-wrapper #signup-form label {
      font-size: .8em; }
    #login-main .login .login-section .login-content .signup-form-wrapper #signup-form input:not(:last-child) {
      padding: .8em;
      border: 1px solid #c5c5cf;
      width: 100%;
      margin-bottom: 1.5em; }
    #login-main .login .login-section .login-content .signup-form-wrapper #signup-form .pass-link {
      display: inline-block;
      padding: 1.2em 2.1em;
      color: #FFF;
      background-color: #1DBDB8;
      border: 1px solid #1DBDB8;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.9em;
      transition: all .3s linear;
      margin-top: 2em; }
      #login-main .login .login-section .login-content .signup-form-wrapper #signup-form .pass-link:hover {
        background-color: #117b77; }

#faq-main {
  padding: 3em 0 7em 0; }
  #faq-main .faq-container .faq-header .content {
    font-size: .8em;
    color: #787878;
    margin-top: 1.4em; }
  #faq-main .faq-container .faq-content .help {
    position: sticky;
    top: 1%;
    background-color: #FAFAFA;
    padding: 1.6em 1.8em 2em; }
    #faq-main .faq-container .faq-content .help .help-title {
      text-align: center;
      border-bottom: 2px solid #1E1E1E;
      padding-bottom: .6em;
      margin-bottom: 1.5em;
      font-size: 1.1em; }
    #faq-main .faq-container .faq-content .help .help-content {
      display: flex;
      justify-content: space-around;
      text-align: center; }
      #faq-main .faq-container .faq-content .help .help-content .contact-us {
        display: flex;
        flex-direction: column; }
        #faq-main .faq-container .faq-content .help .help-content .contact-us i {
          font-size: 1.7em; }
        #faq-main .faq-container .faq-content .help .help-content .contact-us a {
          font-size: .7em;
          text-decoration: underline; }
  #faq-main .faq-container .faq-content .pre-sales {
    padding-bottom: 1.5em; }
  #faq-main .faq-container .faq-content .accordion-question {
    border-bottom: 1px solid #909195;
    font-size: .9em; }
    #faq-main .faq-container .faq-content .accordion-question .accordion-btn {
      display: flex;
      justify-content: space-between;
      padding: 1.5em 0; }
      #faq-main .faq-container .faq-content .accordion-question .accordion-btn .plus-icon {
        position: relative;
        display: inline-block;
        width: 1px;
        height: 15px;
        background-color: #787878;
        vertical-align: middle;
        margin-left: .6em;
        transition: all .2s linear; }
        #faq-main .faq-container .faq-content .accordion-question .accordion-btn .plus-icon:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #787878;
          transform: rotate(90deg); }
    #faq-main .faq-container .faq-content .accordion-question .answer {
      color: #787878;
      height: 0;
      visibility: hidden;
      opacity: 0;
      transition: all .3s ease-in-out; }

#footer #footer-items {
  background-color: #F7F9F9;
  padding: 3em 0; }
  #footer #footer-items .address {
    display: flex;
    flex-direction: column;
    color: #787878;
    padding-top: 1em; }
  #footer #footer-items .contact {
    display: flex;
    flex-direction: column;
    color: #787878;
    padding-top: 1em; }
    #footer #footer-items .contact small:last-child a {
      text-decoration: underline; }
  #footer #footer-items .footer-heading {
    margin-bottom: 1.4em;
    font-size: 1em; }
  #footer #footer-items .footer-list .footer-list-item {
    line-height: 2.3;
    font-size: 0.75em; }
    #footer #footer-items .footer-list .footer-list-item .footer-list-link {
      position: relative;
      color: #787878;
      transition: all .3s linear; }
      #footer #footer-items .footer-list .footer-list-item .footer-list-link::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #787878;
        transition: all .3s linear; }
      #footer #footer-items .footer-list .footer-list-item .footer-list-link:hover {
        color: #1E1E1E; }
    #footer #footer-items .footer-list .footer-list-item:hover .footer-list-link::after {
      width: 100%; }
  #footer #footer-items .social-media-icons a i {
    padding-right: .2em; }
#footer .footer-content {
  padding: 2em 0; }
  #footer .footer-content .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #footer .footer-content .footer-container .copyright-container {
      color: #787878; }
    #footer .footer-content .footer-container .payment-methods img {
      padding-right: .4em; }

@media only screen and (max-width: 576px) {
  #header .language-currency .dropdown .dropdown-menu {
    position: relative;
    transform: translate3d(-12em, 1.4em, 0px);
    border: 1px solid #787878;
    border-radius: 0;
    padding: 0;
    margin-top: 1em; }
  #header .logo-navbar .navbar-container .main-nav-container {
    flex-direction: column;
    text-align: center; }
    #header .logo-navbar .navbar-container .main-nav-container .logo-container {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container img {
        width: 190px;
        height: 50px; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container .hamburger {
        display: block;
        margin-left: auto; }
    #header .logo-navbar .navbar-container .main-nav-container .main-nav {
      display: block;
      flex-direction: column;
      opacity: 0;
      height: 0; }
      #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item {
        padding-bottom: 1em; }
  #header .logo-navbar .navbar-container .right-menu-container .icon-container {
    justify-content: flex-start; }
    #header .logo-navbar .navbar-container .right-menu-container .icon-container li {
      margin: 0 2em 0 0; }

  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .slider-header {
      font-size: .6em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .slider-text {
      display: none; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link {
      font-size: 10px;
      padding: .7em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .slider-header {
      font-size: .6em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .slider-text {
      display: none; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link {
      font-size: 10px;
      padding: .7em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .slider-header {
      font-size: .6em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .slider-text {
      display: none; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link {
      font-size: 0.6em;
      padding: .7em 2em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .title {
    margin-bottom: .6em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .content {
    margin-bottom: 1em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link {
    padding: .5em 2em; }
  #main #popular .popular-container .popular-card {
    margin-bottom: 2em; }
    #main #popular .popular-container .popular-card .popular-content {
      padding: 2em; }
  #main #quality {
    flex-direction: column; }
    #main #quality .quality-heading {
      width: 100%; }
    #main #quality .thumbnail {
      width: 100%; }
  #main #posts .posts-container .post-card {
    margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content {
      padding: 2em; }
  #main #subscribe .subscription-form .pass-link {
    margin-top: 1em; }

  #footer #footer-items .footer-heading {
    margin-top: 1em; } }
@media only screen and (min-width: 577px) and (max-width: 768px) {
  #header .language-currency .dropdown .dropdown-menu {
    position: relative;
    transform: translate3d(-12em, 1.4em, 0px);
    border: 1px solid #787878;
    border-radius: 0;
    padding: 0;
    margin-top: 1em; }
  #header .logo-navbar .navbar-container .main-nav-container {
    flex-direction: column;
    text-align: center; }
    #header .logo-navbar .navbar-container .main-nav-container .logo-container {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container img {
        width: 190px;
        height: 50px; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container .hamburger {
        display: block;
        margin-left: auto; }
    #header .logo-navbar .navbar-container .main-nav-container .main-nav {
      display: block;
      flex-direction: column;
      opacity: 0;
      height: 0; }
      #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item {
        padding-bottom: 1em; }
  #header .logo-navbar .navbar-container .right-menu-container .icon-container {
    justify-content: flex-start; }
    #header .logo-navbar .navbar-container .right-menu-container .icon-container li {
      margin: 0 2em 0 0; }

  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link {
      font-size: 10px;
      padding: .7em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link {
      font-size: 10px;
      padding: .7em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third {
    margin-bottom: 0; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link {
      font-size: 0.6em;
      padding: .7em 2em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .title {
    margin-bottom: .6em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .content {
    margin-bottom: 1em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link {
    padding: .5em 2em; }
  #main #popular .popular-container .popular-card {
    margin-bottom: 2em; }
    #main #popular .popular-container .popular-card .popular-content {
      padding: 2em; }
      #main #popular .popular-container .popular-card .popular-content .pass-link {
        font-size: .7em; }
  #main #quality {
    flex-direction: column; }
    #main #quality .quality-heading {
      width: 100%; }
    #main #quality .thumbnail {
      width: 100%; }
  #main #posts .posts-container .post-card {
    margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content {
      padding: 2em; } }
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  #header .logo-navbar .navbar-container .main-nav-container {
    flex-direction: column;
    text-align: center; }
    #header .logo-navbar .navbar-container .main-nav-container .logo-container {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container img {
        width: 190px;
        height: 50px; }
      #header .logo-navbar .navbar-container .main-nav-container .logo-container .hamburger {
        display: block;
        margin-left: auto; }
    #header .logo-navbar .navbar-container .main-nav-container .main-nav {
      display: block;
      flex-direction: column;
      height: 0;
      opacity: 0; }
      #header .logo-navbar .navbar-container .main-nav-container .main-nav .main-nav-item {
        padding-bottom: 1em; }
  #header .logo-navbar .navbar-container .right-menu-container .icon-container {
    justify-content: flex-start; }
    #header .logo-navbar .navbar-container .right-menu-container .icon-container li {
      margin: 0 2em 0 0; }

  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first {
    margin-bottom: 5em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-first .carousel-caption-first .pass-link {
      font-size: 10px;
      padding: 1em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second {
    margin-bottom: 5em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-second .carousel-caption-second .pass-link {
      font-size: 10px;
      padding: 1em 2em; }
  #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third {
    margin-bottom: 5em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .slider-header {
      font-size: 2em; }
    #main #showcase #showcaseCarousel .carousel-inner .carousel-item-third .carousel-caption-third .pass-link {
      font-size: 0.6em;
      padding: 1em 2em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .title {
    margin-bottom: .6em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .content {
    margin-bottom: 1em; }
  #main #arrivals .arrival-container .owl-carousel .arrival .arrival-content .pass-link {
    padding: .5em 2em; }
  #main #popular .popular-container .popular-card {
    margin-bottom: 2em; }
    #main #popular .popular-container .popular-card .popular-content {
      padding: 2em; }
      #main #popular .popular-container .popular-card .popular-content .pass-link {
        font-size: .7em; }
  #main #quality {
    flex-direction: column; }
    #main #quality .quality-heading {
      width: 100%; }
    #main #quality .thumbnail {
      width: 100%; }
  #main #posts .posts-container .post-card {
    margin-bottom: 1em; }
    #main #posts .posts-container .post-card .post-content {
      padding: 2em; } }
