// Links
a {
    color: #000;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $dark-color;
    }
}

// List
ul {
    list-style-type: none;
    margin: 0;
}

// Section Header
.section-header {
    text-align: center;
    margin-bottom: 1em;
}

// Section Pragraph
.section-paragraph {
    font-size: 0.8em;
    color: #787878;
    text-align: center;
    margin-bottom: 1.5em;
}

.breadcrumb-section {
    margin-bottom: 1em;
    
    li {
        display: inline-block;
        font-size: .8em;
        color: $grey-color;

        &:first-child::after {
            content: ">";
        }

        a {
            color: $grey-color;
        }
    }
}

// Blog Page
// Shared Setting
.setting {
    border-bottom: 1px solid #c5c5cf;
    padding: 2em 0;
}

// Shared Setting Header
.setting-header {
    font-size: 1.2em;
}