@import "variables";
@import "shared";
@import "mixins";

// Common Styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

// Utlity Classes
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.arrival-container {
    max-width: 1140px;
    margin: 0 auto;
}

// Header Styling
#header {
    box-shadow: 0 1px 5px 1px #ddd;

    // Language_Currency
    .language-currency {
        padding: 1em;
        text-align: right;
        font-size: 0.7em;

        .refund {
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 2em;
        }

        .dropdown {

            .divider {
                color: $muted-color;
                padding: 0 .2em;
            }

            .dropdown-menu {
                position: relative;
                transform: translate3d(-10em, 1.4em, 0px);
                border: 1px solid #787878;
                border-radius: 0;
                padding: 0;
                margin-top: 1em;

                &::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    right: 50px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent #787878 transparent;
                }

                .sub-header {
                    background-color: #FAFAFA;
                    padding: 1em;
                }

                .dropdown-container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin: .6em 0;

                    .dropdown-item {
                        padding: 0 2em .6em 1em;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    // Navbar 
    .logo-navbar {
        padding: .8em 0;

        .navbar-container {

            .main-nav-container {
                display: flex;

                // Logo Container
                .logo-container {
                    width: 12em;
                    height: 100%;
        
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                // Main-menu
                .hamburger {
                    background-color: transparent;
                    border: 0;
                    display: none;
                }

                .main-nav {
                    display: flex;
                    align-items: center;

                    .main-nav-item {
                        position: relative;

                        .main-nav-link {
                            font-size: 0.8em; 
                            color: $link-color;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin: 0 1.8em;
                        }
                    }
                }
            }

            // Right-Menu
            .right-menu-container {

                .icon-container {
                    display: flex;
                    justify-content: flex-end;
                    padding: 1em 0;
                    align-items: center;

                    li {
                        margin-left: 2.5em;

                        i {
                            font-size: 1.5em;
                        }

                        &:last-child {
                            position: relative;
                            
                            &::after {
                                content: "0";
                                position: absolute;
                                bottom: 15px;
                                right: -10px;
                                width: 1.5em;
                                height: 1.5em;
                                background-color: $red-color;
                                color: $white-color;
                                border-radius: 50%;
                                text-align: center;
                            }   
                        }
                    }
                }
            }
        }
    }
}

// Main Styling
#main {

    #showcase {

        #showcaseCarousel {

            .carousel-inner {
                
                .slider-caption {
                    display: inline-block;
                    border-bottom: 1px solid #696D6C;
                    padding-bottom: 5px;
                }

                .carousel-item-first {

                    .carousel-caption-first {
                        margin-bottom: 10em;
                        text-align: left;

                        .pass-link {
                            @include passLink($white-color, transparent, $white-color);
    
                            &:hover {
                                color: #000;
                                background-color: #fff;
                            }
                        }
                    }
                }

                .carousel-item-second {

                    .carousel-caption-second {
                        margin-bottom: 10em;
                        text-align: center;

                        .pass-link {
                            @include passLink($white-color, $main-color, $main-color);
    
                            &:hover {
                                color: #000;
                                background-color: #fff;
                                border-color: #fff;
                            }
                        }
                    }
                }

                .carousel-item-third {
                    .carousel-caption-third {
                        margin-bottom: 10em;
                        text-align: right;

                        .pass-link {
                            @include passLink($white-color, $main-color, $main-color);
    
                            &:hover {
                                color: #000;
                                background-color: #fff;
                                border-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    // Arrivals
    #arrivals {
        padding: 5em 0;

        .arrival-container {

            .owl-carousel {
                position: relative;
                
                .owl-nav .owl-prev,
                .owl-nav .owl-next {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    color: $white-color;
                    transition: all .3s linear;

                    &:hover {
                        background-color: transparent;
                        color: $main-color;
                    }
                }

                .owl-nav .owl-next {
                    left: auto;
                    right: 0;
                }
                
                .arrival {
                    width: 100%;
                    height: 100%;

                    .arrival-img {
                        position: relative;

    
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            background-color: rgba(0, 0, 0, .4);
                            opacity: 0;
                            transition: all .3s linear;

                        }
                    }   

                    &:hover .arrival-img::after{
                        opacity: 1;
                    }
        
                    .arrival-content {
                        position: absolute;
                        top: 0;
                        color: #fff;
                        padding: 30px 70px;

                        .title {
                            margin-bottom: 1em;
                        }

                        .content {
                            margin-bottom: 2.1em;
                        }

                        .pass-link {
                            @include passLink($link-color, $white-color, $white-color);

                            &:hover {
                                @include passLink($white-color, $main-color, $main-color);
                            }
                        }
                    }
                }
            }
        }
    }

    // Popular
    #popular {
        padding-bottom: 5em;
        
        .popular-container {

            .popular-card {

                .popular-img {
                    position: relative;
                    
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, .3);
                        opacity: 0;
                        transition: all .3s linear;
                        
                    }
                }

                &:hover .popular-img::after {
                    opacity: 1;
                }

                .popular-content {
                    padding: 2.2em .5em 0 3.7em;

                    .title {
                        margin-bottom: .7em;
                    }

                    .content {
                        color: $grey-color;
                        line-height: 24px;
                        font-size: 0.8em;
                        margin-bottom: 1.8em;
                    }

                    .pass-link {
                        @include passLink($dark-color, $white-color, #8e8e8e);

                        &:hover {
                            background-color: $main-color;
                            color: $white-color;
                            border-color: $main-color;
                        }
                    }
                }
            }
        }
    }

    // Products
    #products {
        padding-bottom: 5em; 

        .products-container {

            .product {
                position: relative;

                .product-img {
                    position: relative;
                    width: 300px;
                    height: 100%;

                    .main-img {
                        width: 100%;
                        height: 100%;
                    }
                    
                    .hover-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 300px;
                        opacity: 0;
                        transition: all .3s linear;
                    }
                }

                .product-content {
                    margin-top: 1em;

                    .product-header {
                        color: $dark-color;
                        font-size: 0.8em;
                    }

                    .price-stars {
                        padding-top: 1em;

                        .product-stars {
                            opacity: 0;
                            transition: all .3s linear;

                            i {
                                color: $star-color;
                            }
                        }
                    }
                }

                .layer {
                    position: absolute;
                    left: 3.5em;
                    bottom: 7em;
                    opacity: 0;
                    transition: all .3s linear;

                    .layer-btn {
                        color: #fff;
                        @include passLink($white-color, $main-color, $main-color);
                    }
                }

                &:hover .hover-img,
                &:hover .layer  {
                    opacity: 1;
                }

                &:hover {

                    .product-content {

                        .price-stars {

                            .product-stars {
                                opacity: 1;
                            }
                        }
                    }
                } 
            }
        }
    }

    // Quality
    #quality {
        background-color: #FAFAFA;
        max-width: 100%;
        display: flex;
        margin-bottom: 5em;

        .quality-heading {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 8em 15px 8em 45px;
            align-content: center;
            width: 50%;
            
            .section-header {
                text-align: left;
                font-size: 3em;
                color: $main-color;
                font-weight: bold;
            }

            .section-paragraph {
                text-align: left;
                margin-bottom: 3.5em;
            }

            .pass-link {
                @include passLink($white-color, $main-color, $main-color);

                &:hover {
                    background-color: #117b77;
                }
            }
        }

        .thumbnail {
            position: relative;
            background-image: url("../img/video-thumbnail.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 50%;
            height: 62vh;

            .video {
                position: absolute;
                top: 45%;
                left: 49%;

                i {
                    color: #fff;
                }
            }
        }
    }

    // Gallery 
    #gallery {
        padding-bottom: 5em;

        .gallery-container {

            .gallery-img {
                padding: 1em 0;

                .img {
                    position: relative;
                    width: 100%;
                    height: 100%;
    
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, .4);
                        opacity: 0;
                        transition: all .3s linear;
                    }
                    
                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .img-layer {
                        position: absolute;
                        right: 5%;
                        bottom: 5%;
                        color: $white-color;
                        z-index: 1;
                        opacity: 0;
                        transition: all .3s linear;
                    }
                }

                &:hover .img::after,
                &:hover .img-layer {
                    opacity: 1;
                }
            }
        }

        .all-images {
            text-align: center;
            margin-top: 2em;
            .pass-link {
                @include passLink($dark-color, transparent, $dark-color);
    
                &:hover {
                    @include passLink($white-color, $main-color, $main-color);
                }
            }
        }
    }

    // Posts
    #posts {
        padding-bottom: 5em;
        .posts-container {

            .post-card {

                .post-img {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, .4);
                        opacity: 0;
                        transition: all .3s linear;
                    }
                }

                &:hover .post-img::after {
                    opacity: 1;
                }

                .post-content {
                    padding: 2.5em 1em 0 3.75em;

                    small {
                        display: inline-block;
                        color: $grey-color;
                        margin-bottom: 1em;
                    }
    
                    .title {
                        margin-bottom: 1em;
                    }
    
                    .content {
                        color: $grey-color;
                        margin-bottom: 1.8em;
                    }

                    .pass-link {
                        @include passLink($dark-color, transparent, $dark-color);

                        &:hover {
                            @include passLink($white-color, $main-color, $main-color);
                        }
                    }
                }
            }
        }
    }

    // Subscribe
    #subscribe {
        background-image: url("../img/newsletter_bg.jpg");
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
        padding: 10em 0 15em 0;

        .section-heading {
            color: $white-color;

            .section-header {
                font-size: 3em;
            }
        }

        .subscription-form {
            
            #email {
                padding: .95em 0;
                background-color: transparent;
                border: 0;
                color: $white-color;
                width: 65%;
                margin-right: .7em;
                border-bottom: 2px solid $white-color;

                &:focus {
                  outline-width: 0;
                }
            }

            .pass-link {
                @include passLink($white-color, $main-color, $main-color);

                &:hover {
                    @include passLink($white-color, #117b77, #117b77);
                }
            }
        }
    }

    // Services
    #services {
        padding: 2em 0;

        .service {
            display: flex;

            .service-content {
                margin-left: 1em;

                .description {
                    color: $grey-color;
                    text-decoration: underline;
                }
            }
        }
    }
}



// Contact Page
#contact-main {

    // Contact
    .contact {
        padding: 2em 0;
        // Breadcrumb Section
        .breadcrumb-section {
            margin-bottom: 1em;
            
            li {
                display: inline-block;
                font-size: .8em;
                color: $grey-color;

                &:first-child::after {
                    content: ">";
                }

                a {
                    color: $grey-color;
                }
            }
        }

        // Contact Us
        .contact-section {

            .contact-header {
                padding-bottom: 4em;
            }

            .contact-content {

                // Contact Form
                .contact-form {

                    small {
                        display: inline-block;
                        color: $grey-color;
                        padding-bottom: 2em;
                    }

                    .form {
                        
                        label, input:not(:last-child), textarea {
                            display: block;
                            width: 100%;
                        }

                        label {
                            color: $dark-color;
                            font-size: .8em;
                        }

                        input, textarea {
                            border: 1px solid $grey-color;
                            margin-bottom: 1.5em;
                            padding: .8em;
                            color: $grey-color;
                            font-size: .8em;

                            &:focus {
                                outline-width: 0;
                            }
                        }

                        .pass-link {
                            @include passLink($white-color, $main-color, $main-color);
                            
                            &:hover {
                                background-color: #117b77;
                            }
                        }
                    }
                }

                // Get In Touch
                .get-in-touch {

                    .loginTitle {
                        font-size: 1.1em;
                    }

                    .loginText {
                        font-size: .8em;
                        color: $grey-color;
                        margin-bottom: 2.5em;
                    }
                    
                    .pass-link {
                        @include passLink($dark-color, transparent, $dark-color);
                        margin-bottom: 2.5em;
                    }

                    .contact-info {
                        color: $grey-color;
                        font-size: .7em;

                        .contact-info-item {
                             margin-bottom: 2em;
                        }
                    }
                }
            }
        }
    }
}

// Footer
#footer {

    // Footer Items
    #footer-items {
        background-color: #F7F9F9;
        padding: 3em 0;

        .address {
            display: flex;
            flex-direction: column;
            color: $grey-color;
            padding-top: 1em;
        }

        .contact {
            display: flex;
            flex-direction: column;
            color: $grey-color;
            padding-top: 1em;

            small:last-child {
                a {
                    text-decoration: underline;
                }
            }
        }

        .footer-heading {
            margin-bottom: 1.4em;
            font-size: 1em;
        }

        .footer-list {

            .footer-list-item {
                line-height: 2.3;
                font-size: 0.75em;

                .footer-list-link {
                    position: relative;
                    color: $grey-color;
                    transition: all .3s linear;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: $grey-color;
                        transition: all .3s linear;
                    }

                    &:hover {
                        color: $dark-color;
                    }
                }

                &:hover .footer-list-link::after {
                    width: 100%;
                }
                
            }
        }

        .social-media-icons {
            a {

                i {
                    padding-right: .2em;
                }
            }
        }
    }

    // Footer Content
    .footer-content {
        padding: 2em 0;

        .footer-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .copyright-container {
                color: $grey-color;
            }

            .payment-methods {

                img {
                    padding-right: .4em;
                }
            }
        }
    }
}

// Media Queries
// Small Screens
@media only screen and (max-width: 576px) {
    // Header
    #header {

    // Language_Currency
    .language-currency {

        .dropdown {

            .dropdown-menu {
                position: relative;
                transform: translate3d(-12em, 1.4em, 0px);
                border: 1px solid #787878;
                border-radius: 0;
                padding: 0;
                margin-top: 1em;
            }
        }
    }

        .logo-navbar {
           
            .navbar-container {

                // Main-nav
                .main-nav-container {
                    flex-direction: column;
                    text-align: center;

                    .logo-container {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                            img {
                                width: 200px;
                                height: 100%;
                            }

                        .hamburger {
                            display: block;
                            margin-left: auto;
                        }
                    }

                    .main-nav {
                        display: block;
                        flex-direction: column;
                        opacity: 0;
                        height: 0;

                        .main-nav-item {
                            padding-bottom: 1em;
                        }
                    }
                }

                // Right-Menu
                .right-menu-container {

                    .icon-container {
                        justify-content: flex-start;
                        
                        li {
                            margin: 0 2em 0 0;

                        }
                    }
                }
            }
        }
    }
    
    // Main
    #main {

        // Showcase Slider
        #showcase {

            #showcaseCarousel {

                .carousel-inner {
                    
                    .carousel-item-first {

                        .carousel-caption-first {
                            margin-bottom: 0;

                            .slider-header {
                                font-size: .6em;
                            }

                            .slider-text {
                                display: none;
                            }

                            .pass-link {
                                font-size: 10px;
                                padding: .7em 2em;
                            }
                        }
                    }

                    .carousel-item-second {

                        .carousel-caption-second {
                            margin-bottom: 0;

                            .slider-header {
                                font-size: .6em;
                            }

                            .slider-text {
                                display: none;
                            }

                            .pass-link {
                                font-size: 10px;
                                padding: .7em 2em;
                            }
                        }
                    }

                    .carousel-item-third {

                        .carousel-caption-third {
                            margin-bottom: 0;

                            .slider-header {
                                font-size: .6em;
                            }

                            .slider-text {
                                display: none;
                            }

                            .pass-link {
                                font-size: 0.6em;
                                padding: .7em 2em;
                            }
                        }
                    }
                }
            }
        }
        
        // Arrival
        #arrivals {

            .arrival-container {

                .owl-carousel {

                    .arrival {

                        .arrival-content {

                            .title {
                                margin-bottom: .6em;
                            }

                            .content {
                                margin-bottom: 1em;
                            }

                            .pass-link {
                                padding: .5em 2em;
                                }
                            }
                        }
                    }
                }
            }

        // Popular
        #popular {

            .popular-container {

                .popular-card {
                    margin-bottom: 2em;

                    .popular-content {
                        padding: 2em;
                    }
                }
            }
        }

        // Quality
        #quality {
            flex-direction: column;

            .quality-heading {
                width: 100%;
            }

            .thumbnail {
                width: 100%;
            }
        }

        // Posts
        #posts {

            .posts-container {

                .post-card {
                    margin-bottom: 1em;

                    .post-content {
                        padding: 2em;
                    }
                }
            }
        }

        // Subscribe
        #subscribe {

            .subscription-form {

                .pass-link {
                    margin-top: 1em;

                }
            }
        }
    }

    // Footer
    #footer {

        #footer-items {

            .footer-heading {
                margin-top: 1em;
            }
        }
    }
}

// Medium Screens
@media only screen and (min-width: 577px) and (max-width: 768px) {
    // Header
    #header {

    // Language_Currency
    .language-currency {

        .dropdown {

            .dropdown-menu {
                position: relative;
                transform: translate3d(-12em, 1.4em, 0px);
                border: 1px solid #787878;
                border-radius: 0;
                padding: 0;
                margin-top: 1em;
            }
        }
    }

        .logo-navbar {
           
            .navbar-container {

                // Main-nav
                .main-nav-container {
                    flex-direction: column;
                    text-align: center;

                    .logo-container {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                            img {
                                width: 200px;
                                height: 100%;
                            }

                        .hamburger {
                            display: block;
                            margin-left: auto;
                        }
                    }

                    .main-nav {
                        display: block;
                        flex-direction: column;
                        opacity: 0;
                        height: 0;

                        .main-nav-item {
                            padding-bottom: 1em;
                        }
                    }
                }

                // Right-Menu
                .right-menu-container {

                    .icon-container {
                        justify-content: flex-start;
                        
                        li {
                            margin: 0 2em 0 0;

                        }
                    }
                }
            }
        }
    }

    // Main
    #main {

        // Showcase Slider
        #showcase {

            #showcaseCarousel {

                .carousel-inner {
                    
                    .carousel-item-first {

                        .carousel-caption-first {
                            margin-bottom: 0;

                            .slider-header {
                                font-size: 2em;
                            }

                            .pass-link {
                                font-size: 10px;
                                padding: .7em 2em;
                            }
                        }
                    }

                    .carousel-item-second {

                        .carousel-caption-second {
                            margin-bottom: 0;

                            .slider-header {
                                font-size: 2em;
                            }

                            .pass-link {
                                font-size: 10px;
                                padding: .7em 2em;
                            }
                        }
                    }

                    .carousel-item-third {

                        .carousel-caption-third {
                            margin-bottom: 0;

                            .slider-header {
                                font-size: 2em;
                            }

                            .pass-link {
                                font-size: 0.6em;
                                padding: .7em 2em;
                            }
                        }
                    }
                }
            }
        }
        
        // Arrival
        #arrivals {

            .arrival-container {

                .owl-carousel {

                    .arrival {

                        .arrival-content {

                            .title {
                                margin-bottom: .6em;
                            }

                            .content {
                                margin-bottom: 1em;
                            }

                            .pass-link {
                                padding: .5em 2em;
                                }
                            }
                        }
                    }
                }
            }

        // Popular
        #popular {

            .popular-container {

                .popular-card {
                    margin-bottom: 2em;

                    .popular-content {
                        padding: 2em;

                        .pass-link {
                            font-size: .7em;
                        }
                    }
                }
            }
        }

        // Quality
        #quality {
            flex-direction: column;

            .quality-heading {
                width: 100%;
            }

            .thumbnail {
                width: 100%;
            }
        }

        // Posts
        #posts {

            .posts-container {

                .post-card {
                    margin-bottom: 1em;

                    .post-content {
                        padding: 2em;
                    }
                }
            }
        }
    }
} 

// Large Screen
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    // Header
    #header {

        .logo-navbar {
           
            .navbar-container {

                // Main-nav
                .main-nav-container {
                    flex-direction: column;
                    text-align: center;

                    .logo-container {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                            img {
                                width: 200px;
                                height: 100%;
                            }

                        .hamburger {
                            display: block;
                            margin-left: auto;
                        }
                    }

                    .main-nav {
                        display: block;
                        flex-direction: column;
                        opacity: 0;
                        height: 0;

                        .main-nav-item {
                            padding-bottom: 1em;
                        }
                    }
                }

                // Right-Menu
                .right-menu-container {
                    .icon-container {
                        justify-content: flex-start;
                        
                        li {
                            margin: 0 2em 0 0;

                        }
                    }
                }
            }
        }
    }

    // Main
    #main {

        // Showcase Slider
        #showcase {

            #showcaseCarousel {

                .carousel-inner {
                    
                    .carousel-item-first {

                        .carousel-caption-first {
                            margin-bottom: 5em;

                            .slider-header {
                                font-size: 2em;
                            }

                            .pass-link {
                                font-size: 10px;
                                padding: 1em 2em;
                            }
                        }
                    }

                    .carousel-item-second {

                        .carousel-caption-second {
                            margin-bottom: 5em;

                            .slider-header {
                                font-size: 2em;
                            }

                            .pass-link {
                                font-size: 10px;
                                padding: 1em 2em;
                            }
                        }
                    }

                    .carousel-item-third {

                        .carousel-caption-third {
                            margin-bottom: 5em;

                            .slider-header {
                                font-size: 2em;
                            }

                            .pass-link {
                                font-size: 0.6em;
                                padding: 1em 2em;
                            }
                        }
                    }
                }
            }
        }
        
        // Arrival
        #arrivals {

            .arrival-container {

                .owl-carousel {

                    .arrival {

                        .arrival-content {

                            .title {
                                margin-bottom: .6em;
                            }

                            .content {
                                margin-bottom: 1em;
                            }

                            .pass-link {
                                padding: .5em 2em;
                                }
                            }
                        }
                    }
                }
            }

        // Popular
        #popular {

            .popular-container {

                .popular-card {
                    margin-bottom: 2em;

                    .popular-content {
                        padding: 2em;

                        .pass-link {
                            font-size: .7em;
                        }
                    }
                }
            }
        }

        // Quality
        #quality {
            flex-direction: column;

            .quality-heading {
                width: 100%;
            }

            .thumbnail {
                width: 100%;
            }
        }

        // Posts
        #posts {

            .posts-container {

                .post-card {
                    margin-bottom: 1em;

                    .post-content {
                        padding: 2em;
                    }
                }
            }
        }
    }
}